/* @override 
	http://www.blochi.com/HDView/fileNice/skins/default/fileNice.css
	http://www.kelsolaar.hdrlabs.com/fileNice/skins/hdrlabs/fileNice.css
*/

/* HTML ELEMENTS */
* {
	margin: 0;
	padding: 0;
}

body {
	color: #b0b0b0;

	padding: 14px;
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
	background-color: #121212;
}



a:LINK,a:ACTIVE,a:VISITED{
	color: #eee;
	text-decoration: none;
}

a:HOVER{
	border-bottom: none;
	text-decoration:none;
	color: #ff551e;
}



ul, ol, dl {
	list-style: none;
}

ul#root {
	margin: 0px;
}

ul#root ul, ul#root ol, ul#root dl { margin: 10px 0px 0px 0px; }

ul#root li {
	border-bottom: 2px solid #000;
	border-left: 1px solid #000;
	overflow: hidden;
	padding: 5px 2px 5px 25px;
}

ul#root li li {
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
}

li span {
	color: #678;
	font-style: italic;
}

dl {
	background: #2d3034;
	border-left: 1px solid #BCD;
	clear: left;
	padding: 10px 10px 20px;
	display:none;
}

dt, dd {
	color: #b0b0b0;
	font-weight: bold;
	line-height: 18px;
}

dd {
	font-weight: normal;
	padding-bottom: 10px;
}

dd a {
	font-weight: bold;
}

dd code, kbd, textarea {
	display: block; 
	font-size: 1.1em;
	line-height: 1.2em;
	font-family: Courier;
	border: 1px solid #b0b0b0;
	background-color: #1A1C1F;
	color: #b0b0b0;
	text-shadow: none; 
	padding: 10px;
	margin: 0px;
}

li.closed 	{	background: #2d3034 url("icons/folder_closed.gif") no-repeat 2px 2px; }
li.open 	{ 	background: #222529 url("icons/folder_open.gif") no-repeat 2px 2px; }


.contents {	display: none; }
.contents_open{
	display: block;
	margin-bottom:5px;
}








ul#root li a.properties {
	background: transparent url("icons/show_more.gif") 0px 1px no-repeat;
	border: none;
	clear: right;
	margin: 0px 0px 0px 10px;
}

ul#root li a.properties span {
	font-size: 1.1em;
	letter-spacing: -.4em;
	word-spacing: -.3em;
	visibility: hidden;
}




h1, h2, h3 {
	color: #333;
	display: inline;
	font-size: 1.3em;
	font-weight: normal;
	margin-right: 0.8em;
	margin-bottom:10px;
}

h1 {	
	padding-left: 20px;
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	font-size: 1.8em;
	color: #b0b0b0;
}

h1 a, h2 a, h3 a {
	border: none;
	color: #fff;
}

h3 { font-weight: bold;}







/* DISPLAY OF SOURCE CODE */

pre{
	background-color:#fefef4;
	border-right:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
	border-left:1px solid #666666;
	border-top:1px solid #666666;
	padding:2px 6px 2px 6px;
	width:auto !important;
	display:table-cell;
	margin-bottom: 10px;
}

code{
	display:table-cell;
	padding:20px;
	border-top:1px darkgrey solid;
	border-left:1px darkgrey solid;
	border-right:1px #D3D3D3 solid;
	border-bottom:1px #D3D3D3 solid;
	background-color:#fefef4;
}




/* DISPLAY OF BUSY STATE WHEN OPENING A FOLDER */

#overDiv{
	display:none;
	position: absolute;
	top: 0px;
	left: 0px;
	zIndex:1000;
	opacity: 0.8;
	background-color: #000;
}
#busy{
	display:none;
	font-family:Helvetica,Verdana,Arial,sans-serif;
	font-weight:bold;
	font-size:24px;
	padding-left: 46px;
	width:46px;
	height:46px;
	background:url("icons/ajax-loader.gif");
	background-repeat:no-repeat;
	zIndex:1001;
}




/* CSS TO HANDLE THE DISPLAY OF PICTURES */

img{
	border:none;
}

#imgWrapper {
	display:inline;
	margin:0 auto;
	width:auto;
	text-align: right;
	padding-bottom:20px;
}

#imgPreview{
	width:auto;
	display: table-cell;
	padding:10px;
	border:2px #888888 solid;
	background-color:#000000;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;	
}
#imgWrapper a:LINK,a:HOVER,a:VISITED,a:ACTIVE{
	border:none;
	padding:none;
	margin:none;
}




/* PREFERENCES AND ABOUT BOX */



#preferences, #about_filenice {
	background-color: #b0b0b0;
	padding:10px;
	width:330px;
	display:none;
	margin-bottom:20px;
	color: #121212;
	float: none;
	position: absolute;
	left: 100px;
	border-width: 2px;
	border-style: solid;
		-moz-border-radius: 8px;
    -webkit-border-radius: 8px;	
}



#preferences fieldset p {
	font-weight: bold;
	line-height: 1.8em;
}

#preferences fieldset legend {
	color: #333;
	font-weight: bold;
	margin-bottom: 0.5em;
}

#preferences fieldset label, #preferences fieldset input {
	display: block;
	float: left;
	font-weight: normal;
	margin: 0.2em;
}

#preferences fieldset label {
	line-height: 1.8em;
	width: 90%;
}

#preferences fieldset label.one_line_label {
	clear: left;
	font-weight: bold;
	margin: 0.5em 0em 0.2em;
}

#preferences fieldset input {
	clear: left;	
}

#preferences fieldset #skin_select {

	clear: left;
	float: left;

}	

#slideshow_speed {

	text-align: center;
	width: 25px;
	
}


#search{
	display:inline;
	float:right;
	clear:both;
}

#searchResults{
	border:8px solid #ddeeff;
	background: #2d3034;
	padding:10px;
}

#searchResults dt{
	font-weight: normal;
}

#searchResults dd{
	font-size: 8px;
	color:#000;
}

#searchButton, #prefSave{
	width:60px;
	height:19px;
	font-size:10px;
	background-color: #212529;
	color: #fff;
}


#sstring{
	width:160px;
	height:13px;
	font-size:10px;
}